{% load static%}
<html>
<head>
	 <style>
        .content {
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  -webkit-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
}
        .login-button{
	  text-align: center;
}
        </style>
	<link rel="stylesheet" type="text/css" href={% static 'semantic.css'%}>
</head>
<body>
	<div class="content"
	<p>You have been logged out successfully</p>
	<div class="login-button">
	<a href={% url 'login'%} class="small ui button">Log back in</a>
	</div>
	</div>
</body>
</html>
