{% load static %}
<html>
<head>
        <link rel="stylesheet" type="text/css" href={% static 'semantic.css'%}>
        <script src="https://kit.fontawesome.com/54cd34c730.js" crossorigin="anonymous"></script>
</head>
<body>
        <div class="ui menu">
                <a class="item" href={% url 'backup'%}>Manage Backup Servers</a>
                <a class="item" href={% url 'jobs'%}>View Backup Jobs</a>
                <a class="item" href={% url 'users'%}>Admin</a>
        </div>
	{% block content %}
	{% endblock %}
</body>
