{% extends 'jobs/base.html' %}

{% block content%}
	<h1>Job History</h1>
	<form action="" method="get">
		{{ form }}
		<input type="submit" value="Filter">		
	</form>
	<div>
	<table class="ui celled table">
		<thead>
		<tr>
		<form action="" method="get">
			<td>Name <button name="sort" type="submit" value="name" style="outline: 0;"><i class="fas fa-sort-up"></i></button><button name="sort-reverse" type="submit" value="name" style="outline: 0;"><i class="fas fa-sort-down"></i></button></td>
			<td>Type <button name="sort" type="submit" value="type" style="outline: 0;"><i class="fas fa-sort-up"></i></button><button name="sort-reverse" type="submit" value="type" style="outline: 0;"><i class="fas fa-sort-down"></i></button></td>
			<td>Server <button name="sort" type="submit" value="server" style="outline: 0;"><i class="fas fa-sort-up"></i></button><button name="sort-reverse" type="submit" value="server" style="outline: 0;"><i class="fas fa-sort-down"></i></button></td>
			<td>Company</td>
			<td>Start Time <button name="sort" type="submit" value="start_time" style="outline: 0;"><i class="fas fa-sort-up"></i></button><button name="sort-reverse" type="submit" value="start_time" style="outline: 0;"><i class="fas fa-sort-down"></i></button></td>
			<td>Status <button name="sort" type="submit" value="status" style="outline: 0;"><i class="fas fa-sort-up"></i></button><button name="sort-reverse" type="submit" value="status" style="outline: 0;"><i class="fas fa-sort-down"></i></button></td>
		</form>
		</tr>
		</thead>
		<tbody>
		{%for job in jobs%}
		<tr>
			<td>{{ job.name }}</td>
			<td>{{ job.type }}</td>
			<td>{{ job.server.name }}</td>
			<td>{{ job.server.backupsvr.company }}</td>
			<td>{{ job.start_time }}</td>
			{% if job.status == "Failed"%}
			<td class="negative">{{ job.status }} - {{ job.comment }}</td>
			{% elif job.status == "Successful"%}
			<td>{{ job.status }}</td>
			{%endif%}
		</tr>	
		{%endfor%}
		</tbody>
	</table>
	</div>
{% endblock %}
