<html>
<head>
	<script src="https://kit.fontawesome.com/54cd34c730.js" crossorigin="anonymous"></script>
</head>
<body>
	<h1>Job History</h1>
	<h2>Filter Jobs</h2>
	<form action="" method="post">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="Filter">		
	</form>
	<div>
	<table>
		<thead>
		<tr>
			<td>Name <i class="fas fa-sort"></i></td>
			<td>Type <i class="fas fa-sort"></i></td>
			<td>Server <i class="fas fa-sort"></i></td>
			<td>Start Time<i class="fas fa-sort"></i></td>
			<td>Status<i class="fas fa-sort"></i></td>
		</tr>
		</thead>
		{%for job in jobs%}
		<tr>
			<td>{{ job.name }}</td>
			<td>{{ job.type }}</td>
			<td>{{ job.server.name }}</td>
			<td>{{ job.start_time }}</td>
			<td>{{ job.status }} {%if job.comment%}- {{ job.comment }}{%endif%} </td>
		</tr>	
		{%endfor%}
	</table>
	</div>
</body>
</html>
